.products-section {
    padding: 0;

}
@keyframes bgTextShift {

    0%,
    100% {
        background-color: #2E3192;
        color: #ffffff;
    }

    50% {
        background-color: #2E3192;
        /* color: #2E3192; */
    }
}

.animate-bgText {
    animation: bgTextShift 4s ease-in-out infinite;
}


/* Typing effect */
.typing-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #00A651;
    width: 0;
    animation:
        typing 5s steps(40, end) infinite,
        blink 0.8s infinite;
}

@keyframes typing {
    0% {
        width: 0
    }

    50% {
        width: 100%
    }

    100% {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}